<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Resume - Sandeep</title>
	<style>
		.resume-title {
			/* display: inline; */
			margin-bottom: 0px;
			padding-bottom: 0px;
		}
		.picture{
			width: 120px;
			height: 120px;
			border-radius: 60px;
		}
		.title-base-line{
			border: 5px solid crimson;
		}
		.company-logo{
			float:right;
			width: 120px;
			height: 120px;
		}
	</style>
</head>
<body>
	<div class="title-box">
		<img src="/img/sandeep.jpg" class="picture" alt="">
		<img src="/img/beingzero.png" class="company-logo" alt="">
		<h1 class="resume-title">Sandeep Wadhwa</h1>
		<p>Founder Being Zero Pvt Ltd</p>
	</div>
	<hr class="title-base-line">
	<div>
		<table>
			<thead></thead>
			<tbody>
				<tr>
					<td><h2>Career Objective</h2></td>  
					<td>To build a world of most effective competitive coders, full stack developers and software architects by sharing my knowledge and skill.</td>
				</tr>
				<tr>
					<td><h2>Experience</h2></td>  
					<td>To build a world of most effective competitive coders, full stack developers and software architects by sharing my knowledge and skill.</td>
				</tr>
				<tr>
					<td><h2>Skills</h2></td>  
					<td>Problem Solving, Data Structures, Algorithms, Git, Full Stack Development, MongoDB.</td>
				</tr>
				<tr>
					<td><h2>Passions</h2></td>  
					<td>Mentoring and Teaching, Table Tennis, Movies, Whistling, Poetry.</td>
				</tr>
			</tbody>
		</table>
	</div>
	<script>

	</script>
</body>
</html>