<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TODO App</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css"
		integrity="sha512-Ez0cGzNzHR1tYAv56860NLspgUGuQw16GiOOp/I2LuTmpSK9xDXlgJz3XN4cnpXWDmkNBKXR/VDMTCnAaEooxA=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
		integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<style>
		.my-list-item {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.main-container {
			width: 50vw;
		}

		.crossed {
			text-decoration: line-through;
		}

		@media (max-width: 700px) {
			.main-container {
				width: 90vw;
				max-width: 90vw;
			}
		}
	</style>
</head>

<body>
	<nav class="navbar bg-body-tertiary">
		<div class="container-fluid">
			<button id="themeButton" onclick="setTheme()" type="button" class="btn btn-outline-primary"><i
					class="fas fa-moon fa-lg fa-fw"></i></button>

		</div>
	</nav>

	<div class="container main-container">
		<h1 class="text-center mt-4">Todo List</h1>
		<div id="inputDiv" class="input-group mb-3 mt-5">
			<!-- * THIS IS MY INPUT -->
			<input id="inputBox" type="text" class="form-control form-control-lg" placeholder="What is in your mind?">
			<!-- * THIS IS MY SEARCH BUTTON -->
			<button id="addButton" class="btn btn-outline-success" type="button" onclick="createTodo()">
				<i class="fa fa-add" aria-hidden="true"></i>
			</button>
		</div>

		<!-- TABS  -->
		<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist"
			style="display: flex; justify-content: space-between;">
			<li class="nav-item" role="presentation">
				<button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
					type="button" role="tab" aria-controls="pills-home" aria-selected="true"
					onclick="getAllTodos()">Todos <span id="todoCount" class="badge text-bg-success">0</span></button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
					type="button" role="tab" aria-controls="pills-profile" aria-selected="false"
					onclick="getAllCompletedTodos()">Completed <span id="completedCount"
						class="badge text-bg-success">0</span></button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact"
					type="button" role="tab" aria-controls="pills-contact" aria-selected="false"
					onclick="getAllDeletedTodos()">Deleted <span id="deletedCount"
						class="badge text-bg-success">0</span></button>
			</li>
		</ul>
		<div id="loader" class="text-center mt-5">
			<div class="spinner-border" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
		</div>
		<div class="tab-content" id="pills-tabContent">
			<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"
				tabindex="0">

				<ul id="todoList" class="list-group">

				</ul>

			</div>
			<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"
				tabindex="0">
				<ul id="completedTodosList" class="list-group">

				</ul>
			</div>
			<div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab"
				tabindex="0">
				<ul id="deletedTodosList" class="list-group">

				</ul>
			</div>
		</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/js/bootstrap.min.js"
		integrity="sha512-EKWWs1ZcA2ZY9lbLISPz8aGR2+L7JVYqBAYTq5AXgBkSjRSuQEGqWx8R1zAX16KdXPaCjOCaKE8MCpU0wcHlHA=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js"
		integrity="sha512-2bMhOkE/ACz21dJT8zBOMgMecNxx0d37NND803ExktKiKdSzdwn+L7i9fdccw/3V06gM/DBWKbYmQvKMdAA9Nw=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<script>
		
	</script>
</body>

</html>