<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weather Two</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/fontawesome.min.css" integrity="sha512-cHxvm20nkjOUySu7jdwiUxgGy11vuVPE9YeK89geLMLMMEOcKFyS2i+8wo0FOwyQO/bL8Bvq1KMsqK4bbOsPnA==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>
        .weatherCard {
            display: none;
        }

        #inputBox {

            max-width: 40vw;
        }

        @media (max-width: 700px) {
            #inputBox {
                width: 90vw;
                max-width: 90vw;
            }
        }
    </style>

</head>

<body>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <button id="themeButton" onclick="setTheme()" type="button" class="btn btn-outline-primary"><i
                    class="fas fa-moon fa-lg fa-fw"></i></button>

        </div>
    </nav>




    <div class="container p-4 mt-5"
        style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <h1 class="text-center text-underline" style="text-decoration: underline;">What's the weather?</h1>

        <!-- * THIS IS MY INPUT DIV -->
        <div id="inputBox" class="input-group mb-3 mt-5">
            <!-- * THIS IS MY INPUT -->
            <input id="searchBox" type="text" class="form-control form-control-lg" placeholder="Type a city name">
            <!-- * THIS IS MY SEARCH BUTTON -->
            <button id="searchButton" class="btn btn-outline-success" type="button">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </div>

        <div id="loader" class="text-center mt-5">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>

        <!-- * My Card -->
        <div class="card shadow mb-3 mt-5 weatherCard" style="min-width: 200px; max-width: 400px; border-radius: 1rem;">
            <div class="card-title text-center mt-3">
                <h4 id="city">Delhi</h4>
                <h6 id="date" class="small text-center">Fri Feb 17 2023</h6>
            </div>
            <img id="cardImage" src="/img/mist.jpg" class="card-img-top" alt="...">
            <div class="card-body">

                <h6 id="temp" class="card-title display-4 font-weight-bold text-center"> 13°C </h6>
                <h6 id="feelsLike" class="card-title display-7 font-weight-bold text-center">( Feels Like 13°C )</h6>
                <h6 id="weather" class="display-7 text-center">Stormy</h6>
                <h5 id="minMaxTemp" class="text-center">25°C (min)/ 26°C (max)</h5>

            </div>
            <!-- * Accordian -->
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            More information
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul class="list-group">
                                <li id="humidity"
                                    class="list-group-item d-flex justify-content-between align-items-center">
                                    <span>Humidity </span> 53
                                </li>
                                <li id="pressure"
                                    class="list-group-item d-flex justify-content-between align-items-center">
                                    <span>Pressure </span> 1018
                                </li>
                                <li id="visibility"
                                    class="list-group-item d-flex justify-content-between align-items-center">
                                    <span>Visibility </span> 2100
                                </li>
                                <li id="windSpeed"
                                    class="list-group-item d-flex justify-content-between align-items-center">
                                    <span>Wind Speed </span> 2.06
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>


    <script>

        let dark = false

        const weatherApi = {
            key: "eb7a2d4a5a9b284fe54b7bb547238443",
            baseUrl: "https://api.openweathermap.org/data/2.5/weather",
        }

        const searchInputBox = document.getElementById("searchBox")
        const searchButton = document.getElementById("searchButton")
        const loader = document.getElementById("loader")
        const weatherCard = document.querySelector(".weatherCard")
        loader.style.display = "none"
        searchInputBox.addEventListener("keypress", function (event) {
            if (event.keyCode === 13) {
                getWeatherReport(searchInputBox.value)
            }
        })

        // * ADDING AN ON CLICK EVENT LISTENER ON THE SEARCH BUTTON AND SETTING THE CARD DISPLAY TO BLOCK
        searchButton.addEventListener("click", function (event) {
            getWeatherReport(searchInputBox.value)
        })


        // * Function to get weather data from the api
        async function getWeatherReport(city) {
            if (!city) {
                alert("Empty city is not allowed!")
                weatherCard.style.display = "none"
                return;
            }

            loader.style.display = "block"
            try {
                let data = await fetch(`${weatherApi.baseUrl}?q=${city}&appid=${weatherApi.key}&units=metric`)
                data = await data.json();
                showWeatherReport(data);
            } catch (err) {
                loader.style.display = "none"
                weatherCard.style.display = "none"
                alert("This city is not found!")
                return;
            }
        }

        function showWeatherReport(currentWeather) {
            let city = document.getElementById("city");
            let currentDate = document.getElementById("date");
            let cardImage = document.getElementById("cardImage");
            let temp = document.getElementById("temp");
            let feelsLike = document.getElementById("feelsLike");
            let weather = document.getElementById("weather");
            let minMaxTemp = document.getElementById("minMaxTemp");
            let humidity = document.getElementById("humidity");
            let pressure = document.getElementById("pressure");
            let visibility = document.getElementById("visibility");
            let windSpeed = document.getElementById("windSpeed");

            city.innerHTML = currentWeather.name;
            let todayDate = new Date();
            currentDate.innerHTML = dateManage(todayDate);
            cardImage.src = manageImage(currentWeather.weather[0].main)

            temp.innerHTML = Math.round(currentWeather.main.temp) + "°C"
            feelsLike.innerHTML = `( Feels Like ${Math.round(currentWeather.main.feels_like)}°C )`
            weather.innerHTML = currentWeather.weather[0].main
            minMaxTemp.innerHTML = `${Math.floor(currentWeather.main.temp_min)}°C (min)/ ${Math.ceil(currentWeather.main.temp_max)}°C (max)`
            humidity.innerHTML = ` <span>Humidity </span> ${currentWeather.main.humidity}`
            pressure.innerHTML = ` <span>Pressure </span> ${currentWeather.main.pressure}`
            visibility.innerHTML = `<span>Visibility </span> ${currentWeather.visibility}`
            windSpeed.innerHTML = `<span>Wind Speed </span> ${currentWeather.wind.speed}`

            document.querySelector(".weatherCard").style.display = "block"
            loader.style.display = "none"
            searchInputBox.value = "";
        }


        function dateManage(dateArg) {
            let days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
            let months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            let year = dateArg.getFullYear();
            let month = months[dateArg.getMonth()];
            let date = dateArg.getDate();
            let day = days[dateArg.getDay()];
            return `${date} ${month} (${day}), ${year}`;
        }

        function manageImage(weatherType) {
            if (weatherType === 'Clear') {

                return "img/clear.jpg"

            } else if (weatherType === 'Smoke') {

                return "img/smoke.jpg"

            } else if (weatherType === 'Haze') {

                return "img/haze.jpg"

            } else if (weatherType === 'Rain') {

                return "img/rain.jpg"

            } else if (weatherType === 'Snow') {

                return "img/snow.jpg"

            } else if (weatherType === 'Thunderstorm') {

                return "img/thunderstorm.jpg"

            } else if (weatherType === "Mist") {

                return "img/mist.jpg"

            } else if (weatherType === "Clouds") {

                return "img/clouds.jpg"

            }
            else {
                return "img/clear.jpg"
            }
        }

        function setTheme() {
            let themeButton = document.getElementById("themeButton");
            if (dark) {
                dark = false
                document.documentElement.setAttribute('data-bs-theme', 'light')
                themeButton.innerHTML = `<i class="fas fa-moon fa-lg fa-fw"></i>`
            } else {
                dark = true
                document.documentElement.setAttribute('data-bs-theme', 'dark')
                themeButton.innerHTML = `<i class="fas fa-sun fa-lg fa-fw"></i>`
            }

        }

    </script>


</body>

</html>